*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: lato;
}

.center{
    max-width: 1100px;
    padding: 0 2%;
    margin: 0 auto;
}

.clear{
    clear: both;
}

header{
    background: #2359af;
    padding: 8px 0;
}

div.logo{
    float: left;
    color: white;
}

.logo h2{
    font-size: 29px;
    font-weight: normal;
}

form.form-login{
    float: right;
}

.form-login .form-element{
    display: inline-block;
    margin-right: 15px;
}

.form-element p{
    color: white;
    font-size: 13px;
}

.form-element input[type=email],
.form-element input[type=password]{
    margin-top: 5px;
    border: 0;
    height: 22px;
    padding-left: 3px;
}

.form-element div a{
    float: left;
    font-size: 13px;
    color: #9cb4d8;
    margin-top: 5px;
    text-decoration: none;
}

.form-element input[type=submit]{
    cursor: pointer;
    background: #114aa0;
    border: 2px solid #04357e;
    color: white;
    padding: 3px 5px;
}

.form-element input[type=submit]:hover{
    background: #04357e;
}

section.main{
    background: linear-gradient(white, #d3d8e8);
    padding: 40px 0;
}

.banner{
    float: left;
    width: 58%;
}

.text{
    max-width: 75%;
}

.text h2{
    font-size: 22px;
    color: #001b44;
}

.img-main img{
    max-width: 100%;
}

.abrir-conta{
    width: 42%;
    float: left;
    margin-top: -20px;
}

.abrir-conta h2{
    color: black;
    font-size: 35px;
}

.abrir-conta h3{
    font-size: 19px;
    color: rgb(30, 30, 30);
    margin-top: 8px;
    font-weight: normal;
}

form.criar-conta{
    margin-top: 10px;
}

.w50{
    padding: 0 5px;
    width: 50%;
    float: left;
}

.w75{
    padding: 0 5px;
    width: 75%;
    float: left;
}

.w100{
    padding: 0 5px;
    width: 100%;
    float: left;
}

form.criar-conta input{
    width: 100%;
    margin-top: 8px;
}

form.criar-conta input[type=text],
form.criar-conta input[type=email],
form.criar-conta input[type=password]{
    height: 40px;
    padding-left: 10px;
    font-size: 18px;
    border: 1px solid #94a7c4;
    border-radius: 5px;
}

form.criar-conta input[type=date]{
    height: 35px;
    padding-left: 10px;
    font-size: 18px;
    border: 1px solid #94a7c4;
    border-radius: 5px;
}

.criar-conta span{
    float: left;
    margin-top: 30px;
    font-size: 11px;
    padding-left: 10px;
    text-align: left;
}

.criar-conta span a{
    text-decoration: none;
    color: #053f97;
}

form.criar-conta input[type=submit]{
    margin-top: 20px;
    height: 40px;
    background: linear-gradient(#67ae55, #578843);
    color: white;
    cursor: pointer;
    border: 1px solid #456b36;
    font-size: 19px;
    border-radius: 5px;
}

.w100 h3{
    margin-top: 18px;
    margin-bottom: 5px;
    color: #808894;
    font-size: 17px;
    font-weight: bold;
}

form select.nascimento{
    margin-top: 2px;
    float: left;
    height: 30px;
    width: 60px;
}

.input-radio{
    margin: -15px 10px;
    float: left;

}

.input-radio h3{
    display: inline-block;
    font-weight: normal;
}

.input-radio input[type=radio]{
    width: auto !important;
    display: inline-block;
}

.input-radio h3{
    color: #1d2129;
}

section.linguas{
    padding: 30px 0;
    background: white;
}

section.linguas a{
    padding-right: 10px;
    font-size: 13px;
     color: #365899;
     text-decoration: none;
}

section.linguas a.selected-lingua{
    color: #737373;
    padding-right: 5px;
}

section.linguas .footer1, section.linguas .footer2{
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 10px;
    max-width: 52%;
}

section.linguas .footer1{
    border-bottom: 1px solid #ccc;
}

section.linguas .footer2{
    margin-top: 3px;
}

section.linguas a{
    padding: 5px;
}

section.linguas .copy p{
    margin-top: 10px;
    font-size: 12px;
}